<h1>Login Page</h1>
<p>{{success}}</p>
<p>{{error}}</p>
<form method="post">
	<label for="email">email:
		<input type="text" name="email" required="true" />
	</label>
	</br>
	</br>
	<label for="password">password:
		<input type="text" name="password" required="true" />
	</label>
	</br>
	</br>
	<input type="submit">
</form>