<h1>Suck it i eat it ahhh!</h1>

<form method="post">
	<label for="firstName">FirstName:
		<input type="text" name="firstName" required="true" />
	</label>
	</br>
	</br>
	<label for="lastName">FirstName:
		<input type="text" name="lastName" required="true" />
	</label>
	</br>
	</br>
	<label for="email">email:
		<input type="text" name="email" required="true" />
	</label>
	</br>
	</br>
	<label for="password">password:
		<input type="text" name="password" required="true" />
	</label>
	</br>
	</br>
	<input type="submit">
</form>